<div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-2 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
<%= form_for(@dog, html: { multipart: true}) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-3">
                          <%= f.label :lostFound, "Encontrado", :class=>"textradio"%>
                          <%= f.radio_button :lostFound, 'true' %>  
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2">
                          <%= f.label :lostFound, "Perdido", :class=>"textradio"%>
                          <%= f.radio_button :lostFound, 'false', :checked => true %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-1 ">
                       <%= f.label :date, "Fecha:"%>
                    </div>
                      <div class="col-xs-6 col-sm-6 col-md-5 ">
                      <%= f.date_select :date, :class=>"form-control"%>
                    </div>
                </div>


                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-5">
                    <div class="form-group">
                      <%= f.text_field :name, :class=>"form-control input-sm", placeholder: "Nombre" %>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-5">
                    <div class="form-group">                      
                        <%= f.text_field :calle, :class=>"form-control input-sm", placeholder: "Calle" %>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2">
                    <div class="form-group">
                      <%= f.text_field :numero, :class=>"form-control input-sm", placeholder: "Número" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-5">
                    <div class="form-group">
                      <%= f.select :raza_id, Raza.all.collect { |s| [s.name, s.id] }, {:prompt => "Raza"}, {class:"form-control input-sm"} %>
                    </div>
                  </div>  
                  <div class="col-xs-6 col-sm-6 col-md-5">
                    <div class="form-group">                      
                        <%= f.text_field :colonia, :class=>"form-control input-sm", placeholder: "Colonia" %>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2">
                    <div class="form-group">
                      <%= f.text_field :codigoPostal, :class=>"form-control input-sm", placeholder: "CP" %>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-5">
                  <%= f.select :gender, [['Macho', 'Macho'], ['Hembra', 'Hembra']], {:include_blank => 'Género'}, {class:"form-control input-sm" } %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-7">
                    <div class="form-group">                      
                        <%= f.text_field :ciudad, :class=>"form-control input-sm", placeholder: "Ciudad" %>
                    </div>
                  </div>
                  
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-5">
                      <%= f.number_field :reward, min: 0, :class=>"form-control input-sm", placeholder: "Recompensa" %>
                    </div>
                  <div class="col-xs-6 col-sm-6 col-md-7">
                    <div class="form-group">
                      <%= f.text_field :pais, :class=>"form-control input-sm", placeholder: "País" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-8 textradio">
                        <%= f.text_area :characteristics, :class=>"form-control input-sm tt" , placeholder: "Características" %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                    <%= f.select :collar, [['Si', true], ['No', false]], {:include_blank => 'Collar'}, {class:"form-control input-sm" } %>
                  </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-2">
                      <%= f.label "Photo:" %>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <%= f.file_field :photo %>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <%= f.text_field :user_lost_id, :class=>"form-control input-sm", placeholder: "Telefono" %>
                    </div>
                </div>

  <div class="actions row col-md-12" style="margin-top:10px;">
    <%= f.submit :class => "button btn btn-block btn-info", :onclick => "alert('Tu anuncio ha sido publicado exitosamente')" %>
  </div>
<% end %>
</div>
</div>
</div>