<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Género:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @dog.raza %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @dog.calle %>
</p>

<p>
  <strong>Número:</strong>
  <%= @dog.numero %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @dog.colonia %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @dog.ciudad %>
</p>

<p>
  <strong>País:</strong>
  <%= @dog.pais %>
</p>

<p>
  <strong>Codigo Postal:</strong>
  <%= @dog.codigoPostal %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @dog.date %>
</p>


<p>
  <strong>Características:</strong>
  <%= @dog.characteristics %>
</p>

<p>
  <strong>Collar:</strong>
  <%= @dog.collar %>
</p>

<p>
  <strong>Recompensa:</strong>
  <%= @dog.reward %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag @dog.photo %>
</p>
<!--
<p>
  <strong>User found:</strong>
  <%= @dog.user_found_id %>
</p>

<p>
  <strong>User lost:</strong>
  <%= @dog.user_lost_id %>
</p>
-->

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
