<!DOCTYPE html>
<html style="height:100%;margin:0px;">
<head>
</head>
<body style="height:100%;margin:0px;">
  <div class="jumbotron" style="position:relative; box-sizing:border-box; margin:0px; padding-top: 80px; background-color:#1BB5B0; color: white; height:250px">

    <%if @dog.lostFound == true %>
      <h1 style = "text-align:center;">Perro Encontrado en <%= @dog.ciudad %> <img src="/assets/dogFace.png" width="100px" style="padding: 0px;"></h1>
    <%else%>
      <h1 style = "text-align:center;">Perro Perdido en <%= @dog.ciudad %> <img src="/assets/dogFace.png" width="100px" style="padding: 0px;"></h1>
    <%end%>
  </div>

  <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <div class="panel panel-default" style="margin-top:10px;">
          <div class="panel-body">
            <div class="panel-body" style="padding:0px;width:25%;float:left;">
                <%= image_tag @dog.photo %>
            </div>
          </div> 
        </div> 
      </div> 
    
    <div class="col-md-8">
      <div class="panel panel-default" style="margin-top:10px;">
          <div class="panel-body">
              
            <div class="col-md-6">
              <div class="row" >
                <h3><strong>Nombre:</strong><%= @dog.name %></h3>
              </div>
              <div class="row">
                  <strong>Género:</strong><%= @dog.gender %>
              </div>
              <div class="row">
                  <strong> Raza:</strong><%= @dog.raza %>
              </div>
              <div class="row">
                  <strong>Fecha:</strong><%= @dog.date %>
              </div>
              <div class="row">
                  <strong>Collar:</strong>
                  <%if @dog.collar == true%>
                        Si
                  <%else%>
                        No
                  <%end%>
              </div>
              <div class="row">
                  
              </div>
              <div class="row">
                  <strong>Características:</strong>
                      <%= @dog.characteristics %>
              </div>
              <div class="row">
                   <strong>Recompensa:</strong>
                      <%if @dog.reward == nil %>
                        No Aplica
                        <%else%>
                        <%= @dog.reward %>
                      <%end%> 
              </div>
              <div class="row">
                  <h3><strong> Contacto</strong></h3>
              </div>
              <div class="row">
                  <strong> Email: </strong>
                  <%=@dog.user_found.email  %>
              </div>
              <div class="row">
                  <strong> Teléfono </strong>
                  <%=@dog.user_lost_id  %>
              </div>
            </div>

            <div class="col-md-6">
                  <hr>
                  <div class="row">
                      <h3><strong>Ubicación</strong></h3>
                  </div>

                  <div class="row">
                          <strong>Calle:</strong>
                          <%= @dog.calle %>
                          
                  </div>
                  <div class="row">
                    <strong>Número:</strong>
                          <%= @dog.numero %>
                  </div>

                  <div class="row">
                    <strong>Ciudad:</strong>
                          <%= @dog.ciudad %>
                  </div>

                  <div class="row">
                          <strong>Codigo Postal:</strong>
                          <%= @dog.codigoPostal %>
                  </div>
                  
                  <div class="row">
                      <strong>Colonia:</strong>
                      <%= @dog.colonia %>
                  </div>
                  <div class="row">
                      <strong>País:</strong>
                      <%= @dog.pais %>
                  </div>
                  </div>

</body>
</html>